<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>My bills</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Account</th>
                <th class="sort">Price</th>
                <th>Delete</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody class="default">
            <% bills.forEach( el => { %>
            <tr>
                <td class='billItem billName' data-id='<%=el._id%>'>
                    <%= el.name %>
                </td>
                <td class='billItem billAccount' data-id='<%=el._id%>'>
                    <%= el.accountNumber %>
                </td>
                <td class='billItem billPrice' data-id='<%=el._id%>'>
                    <%= el.price %>
                </td>
                <td class='billItem billDelete' data-id='<%=el._id%>'>
                    <span class="del">X</span>
                </td>
            </tr>
            <% }) %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="total-amount-cell"></td>
            </tr>
        </tbody>

        <tbody class="sorted hidden">
            <% bills.sort( (a, b) => a.price - b.price).forEach( el => { %>
            <tr>
                <td class='billItem billName' data-id='<%=el._id%>'>
                    <%= el.name %>
                </td>
                <td class='billItem billAccount' data-id='<%=el._id%>'>
                    <%= el.accountNumber %>
                </td>
                <td class='billItem billPrice' data-id='<%=el._id%>'>
                    <%= el.price %>
                </td>
                <td class='billItem billDelete' data-id='<%=el._id%>'>
                    <span class="del">X</span>
                </td>
            </tr>
            <% }) %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="total-amount-cell"></td>
            </tr>
        </tbody>   
    </table>


    <form action="/bills/createBill" method='POST'>
        <input type="text" placeholder="Enter the bill company" name='billName'>
        <input type="text" placeholder="Enter the account number you are using" name='billAccount'>
        <input type="text" placeholder="Enter the bill price" name='billPrice'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>